.footer {
    background-image: url('/assets/images/logo_half.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
    a {
        color: $white;
        &:hover {
            color: $streets-bluer;
        }
    }
}